/* styles.css */
body {
    font-family: 'Archivo', Arial, sans-serif; /* Specify fallback fonts */
}

.container {
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the container */
    padding: 0 1em; /* Add some padding for small screens */
}

main {
    padding: 2em 0;
}

section {
    margin: 2em 0;
    background: #fff;
    padding: 1.5em;
    border: none; /* Remove border */
    border-radius: 0; /* Remove border radius */
}

section h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-weight: 600; /* Adjust weight as needed */
}

section h3 {
    font-size: 1.2em; /* Match the normal text size */
    font-weight: 700; /* Keep bold */
    margin-top: 1em;
}

footer {
    text-align: center;
    padding: 1em;
    background: #fff;
    border-top: none; /* Remove border */
}

footer p {
    margin: 0.5em 0;
    font-weight: 400; /* Adjust weight as needed */
}

.small-link {
    font-size: 0.8em; /* Smaller font size */
    color: #0066cc; /* Link color */
    text-decoration: none; /* Remove underline */
    display: block; /* Display as block element */
    margin-top: 1em; /* Add margin on top */
}

.small-link:hover {
    text-decoration: underline; /* Underline on hover */
}
